Source: gamessq
Section: science
Priority: optional
Maintainer: Brett Bode <MMP.Guy@gmail.com>
Build-Depends: debhelper (>=5), autotools-dev, libwxgtk3.0-dev (>= 3.0.0)
Standards-Version: 1.0.0

Package: gamessq
Architecture: any
Depends: ${shlib:Depends}, libwxgtk3.0-0 (>= 3.0.0)
Description: TODO
